<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Recipe Home</title>


<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="description" content=""/>
        <meta name="keywords" content=""/>
        <meta name="robots" content="index,nofollow"/>
        <meta charset="UTF-8"/>
 
        <link rel="stylesheet" th:href="@{/css/custom.css}">
 
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              crossorigin="anonymous"
              th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
 
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
              crossorigin="anonymous">
 
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"
                crossorigin="anonymous" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.1/umd/popper.js"
                crossorigin="anonymous" integrity="sha256-1bI2hYpoXO8605goiOg+TiWksCVw2RBxWRtnvzPRWN0="
                th:src="@{/webjars/popper.js/1.14.1/umd/popper.js}"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                crossorigin="anonymous" integrity=""
                th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
 
    <div class="container-fluid" style="margin-top: 20px">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="card border-primary">
                    <div class="card-header bg-primary text-white">
                        <h1 class="card-title">Recipe Central</h1>
                    </div>
 
                    <div class="card-body">
                        <table class="table table-responsive table-hover w-100 d-block d-md-table"
                               th:if="${not #lists.isEmpty(recipes)}">
                            <thead class="thead-light">
                            <tr>
                                <th>ID</th>
                                <th>Description</th>
                                <th>View</th>
                                <th>Update</th>
                                <th>Delete</th>
                            </tr>
                            </thead>
                            <tbody class="card-body">
                            <tr class="table-row" th:each="recipe : ${recipes}">
                               
                                <td class="table-cell" th:text="${recipe.id}"></td>
                                <td class="table-cell" th:text="${recipe.description}"></td>
                                <td class="table-cell"><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/show'}">View</a></td>
                                <td class="table-cell"><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/update'}">Update</a></td>
                                <td class="table-cell"><a class="fa fa-trash-o" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/delete'}"></a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>